.header {
  background-color: var(--preto);
  padding: 1rem 0;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--branco);
  font-weight: 700;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.menu a {
  color: var(--branco);
  text-decoration: none;
  font-weight: 500;
}

.menu a:hover {
  color: var(--laranja);
}

.btn-menu {
  background-color: var(--laranja);
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--branco);
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    background-color: var(--preto);
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 1.5rem 0;
    z-index: 999;
  }

  .menu.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}
